*{
  font-family: 'Raleway';
  font-style: normal;
  line-height: 160%;
}

.container {
  display: flex;
  justify-content: center;
}
.app {
  width: 100%;
}

.app-content {
  padding: 0 50px;
  text-align: center;
}
.app-body {
  min-width: 80%;
  padding: 0 50px;
  height: 100%;
}

.app-body-blur {
  background-color: #39374838;
  pointer-events: none;
}

